<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/body.css">
    <link rel="stylesheet" href="/form.css">
    <link rel="stylesheet" href="/message.css">
    <link rel="icon" href="/message.svg" type="image/x-icon">
    <title>Message board</title>
</head>
<body>
    <section>
        <% for (let i = 0; i < messages.length; i++) { %>
            <div class="message">
                <p class="user"><%= messages[i].user %></p>
                <p class="text"><%= messages[i].message %></p>
            </div>
        <% } %>
    </section>
    <form method="POST" action="<%= route %>">
        <fieldset>
            <label for="message"><%= username %></label>
            <input name="message" type="text">
        </fieldset>
        <button>send</button>
    </form>
</body>
</html>