section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: min(430px, 100%);
    padding: 20px;
    padding-top: 40px;
    padding-bottom: calc(20px + 40px + 30px + 10px);
    box-sizing: border-box;
}
.message {
    position: relative;
}
.text {
    padding: 10px;
    height: auto;
}
@media (max-width: 430px) {
    section {
        padding: 15px;
        padding-bottom: calc(10px + 40px + 30px + 40px);
    }
}
